*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/docs

# Project exclude paths
/base/ui/build/
/feature/cart/api/build/
/feature/cart/impl/build/
/ui/cart/api/build/
/ui/cart/impl/build/
/ui/catalog/api/build/
/ui/catalog/impl/build/